.progress-bar {
    height: 40px;
    width: 400px;
    background: #fefefe;
    border-radius: 5rem;
    border: 2px solid #606060;
    margin: 25rem 5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.progress {
    background: #20ae16;
    background: -webkit-linear-gradient(to bottom, #158531, #20ae16);
    background: linear-gradient(to bottom, #158531, #20ae16);
    border-radius: 5rem;
    height: 40px;
    width: 0.99rem;
    transition: width 0.7s ease-in;
}