* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background: #4e4e4e;
}

.nav {
    width: auto;
    height: 50px;
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: opacity .5s;
    /* background: linear-gradient(to right, #4568DC, #B06AB3); */
    background: #243642;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid white;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav div,
button,
input {
    margin: 5px;
    cursor: pointer;
}

.nav:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.clr {
    height: 35px;
    width: 35px;
    background-color: blue;
    border-radius: 50%;
    border: 3px solid white;
    transition: transform .5s;
}

.clr:hover {
    transform: scale(1.2);
}

.clr:nth-child(1) {
    background-color: #000;
}

.clr:nth-child(2) {
    background-color: #ff0000;
}

.clr:nth-child(3) {
    background-color: #ffa500;
}

.clr:nth-child(4) {
    background-color: #ffff00;
}

.clr:nth-child(5) {
    background-color: #9acd32;
}

.clr:nth-child(6) {
    background-color: #800080;
}

.clr:nth-child(7) {
    background-color: #00ffff;
}

.clr:nth-child(8) {
    background-color: #000080;
}

.clr:nth-child(9) {
    background-color: #fff;
}

button {
    border: none;
    outline: none;
    padding: .6em 1em;
    background-color: #000428;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 2rem;
    font-size: 15px;
    font-weight: bold;
}

.save {
    background-color: #0f65d4;
}

input[type="color"] {
    width: 60px;
    height: 40px;
}

#ageOutputId {
    color: white;
    font-weight: bold;
    font-size: 15pt;
}

#ageInputId {
    background: linear-gradient(to right, #000428 0%, #004e92 100%);
    height: 7px;
    outline: none;
    cursor: ew-resize;
    border-radius: 5px;
    border: 3px solid white;
    accent-color: white;
}

.emoji {
    font-size: 40px;
    padding-bottom: 10px;
}