@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.chat-container {
    background: url('emoticons-and-symbols-whatsapp-chat-81z2ulpylfyqalb3.jpg');
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    padding: 15px;
    position: relative;
    width: 50vw;
    height: 94vh;
    position: relative;
    left: 23vw;
}

.chat {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.message-left {
    padding: 0px 40px 0px 40px;
    margin-top: 40px;
    background: #3b3737;
    border-radius: 5rem;
}

.message-right {
    align-self: flex-end;
    padding: 0px 70px 0px 40px;
    background: #461ef5;
    border-radius: 5rem;
}

.logo {
    border-radius: 50%;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
    object-fit: cover;
    position: absolute;
    left: 10px;
    top: -10px;
    width: 50px;
    height: 50px;
}

.message.right .logo {
    left: auto;
    right: 10px;
}

.message p {
    margin: 0;
}

.text_input {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 15px;
    width: 100%;
    background: #000;
    color: #fff;
}